{% extends '@App/baseBootstrap.html.twig' %}

{% block navItems %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('vistaBootstrap') }}">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('altaPersonaBootstrap') }}">Alta de Persona</a>
    </li>
{% endblock %}


{% block breadcrumbItems %}
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Alta de Persona</li>
{% endblock %}


{% block content %}

    <h3>Formulario de registro de persona</h3>

    {% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
            <p class="flash-{{ tipo }}">{{ mensaje }}</p>
        {% endfor %}
    {% endfor %}

    {{ form_start(formulario, { action: path('altaPersonaBootstrap'), method: 'POST' }) }}
    {{ form_errors(formulario) }}

    {{ form_row(formulario.nombre) }}

    {{ form_row(formulario.apellido) }}

    {{ form_end(formulario) }}


{% endblock %}